<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneo de Futbol</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/data/position.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="navbar">
        <nav class="datos">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/rules">Reglamento</a></li>
            </ul>
        </nav>
        <nav class="data">
            <ul>
                <li><a href="/data/fixture">Fixture</a></li>
                <li><a href="/data/equipos">Equipos</a></li>
                <li><a href="/data/fairplay">FairPlay</a></li>
                <li><a href="/data/estadisticas">Estadisticas</a></li>
            </ul>
        </nav>
    </header>

    <h1 class="titulo"> Torneo ex Alumnos Santa Teresita</h1>
    <h2>90ยบ Aniversario</h2>
    <div class="tabla">
        <div class="database">
            <span>#</span>
            <span>Equipos</span>
            <span>J</span>
            <span>G</span>
            <span>E</span>
            <span>P</span>
            <span>AF</span>
            <span>EC</span>
            <span>DF</span>
            <span>PUNTOS</span>
        </div>
        <% for(let i=0; i < teams.length;i++){ %>
            <div class="team">
                <span class="position"><%= i + 1 %></span>
                <span class="team-name"><%= teams[i].name%></span>
                <span class="played"><%= teams[i].pj%></span>
                <span class="win"><%= teams[i].g%></span>
                <span class="draw"><%= teams[i].e%></span>
                <span class="lose"><%= teams[i].p%></span>
                <span class="gol-af"><%= teams[i].gaf%></span>
                <span class="gol-ec"><%= teams[i].gec%></span>
                <span class="df"><%= teams[i].df%></span>
                <span class="points"><%= teams[i].points%></span>
            </div>
            <% } %>
    </div>
    <footer>Copyright LM5</footer>
</body>

</html>