<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneo de Futbol</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/data/calendar.css">
    <link rel="stylesheet" href="/css/data/resultsEdit.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="navbar">
        <nav class="datos">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/rules">Reglamento</a></li>
            </ul>
        </nav>
        <nav class="data">
            <ul>
                <li><a href="/data/equipos">Equipos</a></li>
                <li><a href="/data/posiciones">Posiciones</a></li>
                <li><a href="/data/fairplay">Fair play</a></li>
                <li><a href="/data/estadisticas">Estadisticas</a></li>
            </ul>
        </nav>
    </header>

    <h1 class="titulo"> Torneo ex Alumnos Santa Teresita</h1>
    <h2>90ยบ Aniversario</h2>
    <div class="menu">
        <h3><a href="/data/fixture">FIXTURE</a></h3>
        <h3><a href="/data/resultados">RESULTADOS</a></h3>
    </div>
    <main>
        <section class="fecha">
            <h4>
                FECHA <%= fecha.fecha%>
            </h4>
            <%= fecha.dia%>
                <form action="/data/resultados/fecha/<%= fecha.fecha%>/<%= nroMatch%>" method="POST"
                    class="fecha-results">
                    <div class="data">
                        <div class="result">
                            <table>
                                <tr>
                                    <th>
                                        <%= teams[(match.equipo1)-1].name%>
                                    </th>
                                    <th><input type="text" name="goalsTeam1" class="goals" required></th>
                                    <th><input type="text" name="goalsTeam2" class="goals" required></th>
                                    <th>
                                        <%= teams[(match.equipo2)-1].name%>
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <div class="data-teams">
                            <div class="statics">
                                <table>
                                    <tr>
                                        <th class="tittle">Plantel</th>
                                        <th class="tittle">Goles</th>
                                        <th class="tittle">A</th>
                                        <th class="tittle">R</th>
                                    </tr>
                                    <% for (let j=0; j < players[(match.equipo1)-1].jugadores.length; j++) { %>
                                        <tr>
                                            <th class="player-name">
                                                <label for="" name="apellido"><%=players[(match.equipo1)-1].jugadores[j].apellido%></label>
                                                <label for="" name="nombre"><%=players[(match.equipo1)-1].jugadores[j].nombre%></label>
                                            </th>
                                            <th>
                                                <input type="number" name="goalsT1" class="gol" min="1" max="10">
                                            </th>
                                            <th>
                                                <input type="checkbox" name="amarillaT1" value="<%=players[(match.equipo1)-1].jugadores[j].idJugador%>">
                                            </th>
                                            <th>
                                                <input type="checkbox" name="rojaT1" value="<%=players[(match.equipo1)-1].jugadores[j].idJugador%>">
                                            </th>
                                        </tr>
                                        <% } %>
                                </table>
                            </div>
                            <div class="statics">
                                <table>
                                    <tr>
                                        <th class="tittle">Plantel</th>
                                        <th class="tittle">Goles</th>
                                        <th class="tittle">A</th>
                                        <th class="tittle">R</th>
                                    </tr>
                                    <% for (let j=0; j < players[(match.equipo2)-1].jugadores.length; j++) { %>
                                        <tr>
                                            <th class="player-name">
                                                <%=players[(match.equipo2)-1].jugadores[j].apellido%>
                                                    <%=players[(match.equipo2)-1].jugadores[j].nombre%>
                                            </th>
                                            <th>
                                                <input type="number" name="goalsT2" class="gol" min="1" max="10">
                                            </th>
                                            <th>
                                                <input type="checkbox" name="amarillaT2" value="<%=players[(match.equipo2)-1].jugadores[j].idJugador%>">
                                            </th>
                                            <th>
                                                <input type="checkbox" name="rojaT2" value="<%=players[(match.equipo2)-1].jugadores[j].idJugador%>">
                                            </th>
                                        </tr>
                                        <% } %>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="boton-result">
                    <input type="submit" value="Cargar" class="edit-results">
                    </div>
                </form>
        </section>
    </main>


    <footer>Copyright LM5</footer>
</body>

</html>